<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Opti>
			<version>2.2.2.9</version>
		</Fishpig_Opti>
	</modules>
	<global>
		<blocks>
			<opti><class>Fishpig_Opti_Block</class></opti>
		</blocks>
		<helpers>
			<opti><class>Fishpig_Opti_Helper</class></opti>
		</helpers>
		<models>
			<opti><class>Fishpig_Opti_Model</class></opti>
		</models>
	</global>
	<frontend>
		<events>
			<controller_front_send_response_before>
				<observers>
					<opti>
						<type>singleton</type>
						<class>opti/observer</class>
						<method>minifyAndMoveObserver</method>
					</opti>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>
	<default>
		<opti>
			<conditions>
				<enabled>1</enabled>
			</conditions>
			<css>
				<minify>1</minify>
				<minify_dot_min>1</minify_dot_min>
				<minify_inline>1</minify_inline>
				<move_to_bottom>0</move_to_bottom>
				<defer>0</defer>
				<version_filenames>1</version_filenames>
<modules>splash,catalog,catalogsearch,cms,contacts,customer,gls,newsletter,poll,review,sendfriend,splashpro,tag,wishlist,wordpress,wp_addon_cpt</modules>
			</css>
			<html>
				<minify>1</minify>
				<remove_base_url>1</remove_base_url>
				<remove_input_type_text>1</remove_input_type_text>
<modules>splash,catalog,catalogsearch,cms,contacts,customer,gls,newsletter,poll,review,sendfriend,splashpro,tag,wishlist,wordpress,wp_addon_cpt</modules>
			</html>
			<js>
				<minify>1</minify>
				<minify_dot_min>1</minify_dot_min>
				<minify_inline>1</minify_inline>
				<move_to_bottom>1</move_to_bottom>
				<version_filenames>1</version_filenames>
<modules>splash,catalog,catalogsearch,cms,contacts,customer,gls,newsletter,poll,review,sendfriend,splashpro,tag,wishlist,wordpress,wp_addon_cpt</modules>
			</js>
		</opti>
	</default>
</config>
